.header-top{
	background-color: #778899;
}
.Introduction{
	text-align: center;
	font-family: "roboto", sans-serif;
	margin-top: 50px;
	padding: 30px;
}
.SummaryofQualifications, .Education, .Projects{
	font-family: "roboto", sans-serif;
	margin-left: 150px;
	padding-top: 30px;
}
.menu{
	text-align: center;
	word-spacing: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 20px;
}
a:link, a:visited{
	color:black;
	text-decoration: none;
}
a:hover, a:active{
	color: white;
}
img{
	display: inline;
    margin-left: 80px;
    margin-right: auto;
    width: 40%;
    padding: 7px;
}
body{
	background-color: #DCDCDC;
	margin:0;
	padding:0;
}
footer{
	position: bottom;
}
.linkedin{
	width:40px;
	height: auto;
}

