.header-top{
	background-color:black;
	text-align: center;
	position: relative;
}
.headerphoto{
	width: 100%;
	height: auto;
}
.Introduction{
	text-align: center;
	font-family: "roboto", sans-serif;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 40px;

}
.SummaryofQualifications, .Education, .Projects,.contact{
	margin-left: 150px;
	padding-top: 30px;
}
.menu{
	text-align: center;
	word-spacing: 30px;
	padding-top: 10px;
	padding-bottom: 50px;
	font-size: 20px;
}
a:link, a:visited{
	color:white;
	text-decoration: none;
}
a:hover, a:active{
	color: white;
}
body{
	font-family: "roboto", sans-serif;
	background-color: black;
	margin:0;
	padding:0;
	color: white
}
footer{
	position: bottom;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 20px;
}
.linkedin{
	width:40px;
	height: auto;
	margin-left: 40px;
}
.footer-contact{
	margin-left: 40px;
}
.pictures > img{
	width: 500px;
	padding: 50px;
	margin-left: 70px;
}

