*{
	box-sizing: border-box;
}
.header-top{
	text-align: center;
	position: relative;
}
.headerphoto{
	width: 100%;
	height: auto;
	filter:brightness(90%);
}
.Introduction{
	text-align: center;
	font-family: "roboto", sans-serif;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 40px;
  	color: white;

}
.SummaryofQualifications, .Education, .Projects,.contact{
	margin-left: 150px;
	padding-top: 30px;
}
.Projects{
		padding-bottom: 70px;
}
.menu{
	text-align: center;
	word-spacing: 30px;
	padding-top: 40px;
	padding-bottom: 50px;
	font-size: 20px;
}
a:link, a:visited{
	color:black;
	text-decoration: none;
}
a:hover, a:active{
	color: gray;
}
body{
	font-family: "roboto", sans-serif;
	background: white;
	margin:0;
	padding:0;
	color: black;
}
footer{
	position: bottom;
	background-color: #DCDCDC;
	padding-bottom: 20px;

}
.linkedin{
	width:40px;
	height: auto;
}
.footer-contact{
	margin-left: 40px;
	padding-top: 50px;
}
.pictures > img{
	width: 430px;
	padding: 20px;

}

